
.cart-container {
  max-width: 1100px;
  margin: 80px auto;
  text-align: center;
}

.cart-container h1 {
  font-size: 2.3rem;
  margin-bottom: 5px;
}

.continue-link {
  display: inline-block;
  margin-bottom: 40px;
  text-decoration: underline;
  color: #4a4a4a;
}


.cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 45px;
}


.cart-items-box {
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  padding: 30px;
}


.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEE;
  padding: 18px 0;
}

.cart-item img {
  width: 100px;
  height: 150px;
  border-radius: 6px;
  object-fit: cover;
}

.cart-item-details {
  margin-left: 18px;
  text-align: left;
  flex: 1;
}

.cart-item-details h2 {
  margin: 0;
  font-size: 1.1rem;
}


.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  color: #333;
  border: none;
  width: 50px;
  height: 26px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
}

.quantity-control .quantity {
  font-size: 17px;
  font-weight: 600;
  min-width: 22px;
  text-align: center;
}


.remove-btn {
  border: none;
  background: none;
  color: #777;
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0;
  margin-top: 4px;
  max-width: 100px;
}

.remove-btn:hover {
  color: #333;
  background-color: #F8C0BE;
}


.cart-item-price {
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
}


.cart-summary-box {
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  padding: 40px 30px;
  font-size: 1.1rem;
  text-align: left;
  max-height: 200px;
  position: sticky;
  top: 120px;
}

#total-price {
  font-weight: bold;
  float: right;
}

#checkout-btn {
  width: 100%;
  margin-top: 25px;
  background: #F8C0BE;
  color: #333;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

#checkout-btn:hover {
  background: #e3a7a5;
}
