.checkout-grid {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  width: 100%;     
  margin: 0;        
  gap: 50px;
  padding: 20px;
  box-sizing: border-box;
  max-width: none;  
}


.checkout-left h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.checkout-left input {
  width: 80%;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid #ddd;
  background: white;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 12px;
  width: 80%;
}

.row input {
  flex: 1;
  width: 100%;
}

.card-box {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  width: 600px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-box i {
  font-size: 24px; 
}

.card-box .icons {
  display: flex;
  gap: 10px;
}

.card-box p,
.card-box .icons,
.card-box input {
  width: 80%;
  margin: 0;  
}

.row2 {
  display: flex;
  gap: 10px;
}

.place-order {
  width: 100%;
  padding: 14px;
  background: #F9C1BC;
  color: #333;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
  max-width: 450px;
}

.place-order:hover {
  background: #e9a8a5;
}

.checkout-right {
  background: #F9C1BC;
  padding: 40px 30px;
  border-radius: 4px;
  width: 100%;
}

.checkout-right img {
  width: 80px;
  height: 150px;
  border-radius: 6px;
  object-fit: cover;
  margin-bottom: 10px;
}

.checkout-total {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.checkout-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.checkout-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.item-info p {
  margin: 0;
}