.login-container {
  background: #F9C1BC;
  padding: 30px 40px 40px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin: 100px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #FFF9F4;
  width: 100%; 
}


button {
  width: 100%;
  max-width: 300px; 
  padding: 10px;
  background-color: #FFF9F4;
  color: #F9C1BC;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #333;
  color: #FFF9F4;
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
