.register {
  background: #F9C1BC;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 82px auto;
  text-align: center;
}

.register form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register input, .register button {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 16px;
}

.register input {
  border: 1px solid #ccc;
  background-color: #FFF9F4;
}

.register button {
  background-color: #FFF9F4;
  color: #F9C1BC;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register button:hover {
  background-color: #333;
  color: #FFF9F4;
}

#message {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}