.single-product-container {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 50px;
  flex-wrap: nowrap;
}

.single-product-container img {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
}


.product-details {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;         
  align-items: flex-start;  
  max-width: 300px;
  margin-top: 30px;
}

.product-details h1 {
  font-size: 2rem;
  margin: 0;
  width: 100%;       
}

.product-details .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 4px;
}

.single-product-container .price .normal-price {
  font-size: 30px;
  font-weight: 600;
  color: #111;
}

.product-details .old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.product-details .discounted-price {
  color: #D97B66;
  font-weight: bold;
  font-size: 30px;
}

.product-details p.description {
  color: #333;
  line-height: 1.5;
}

.add-to-cart {
  background-color: #F9C1BC;
  color: #333;
  border: none;
  padding: 15px 25px;
  font-size: 20px
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: fit-content;
}

.add-to-cart:hover {
  background-color: #333;
  color: #F9C1BC;
}

.reviews-section {
  margin-top: 30px;
  width: 100%;
}

.reviews-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.review {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.review:first-child {
  border-top: none;
}

.review p {
  margin: 5px 0;
  line-height: 1.4;
}

.login-to-cart {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}