@import url(variables.css);
@import url(product.css);
@import url(singleproduct.css);
@import url(cart.css);
@import url(login.css);
@import url(register.css);
@import url(checkout.css);
@import url(success.css);

body {
  font-family: 'Playfair Display', serif;
  background-color: #FFF9F4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.carousel-slide {
  position: relative;
  height: 600px;
  margin-right: 20px;
  margin-left: 20px;
}

.carousel-item {
  position: absolute;
  inset: 0; 
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.news img {
  width: 450px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

.headerimage {
  position: relative; 
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.headerimage img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}


