* {
  box-sizing: border-box;
}

h1, p, h2 {
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
  color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFF9F4;
    border-bottom: 20px solid #F9C1BC;
  }

  .logo img {
    height: 100px; 
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333333;
    font-size: 24px;
    transition: color 0.2s;
    margin-right: 30px;
  }
  
  .nav-links a:hover {
    color: #F9C1BC; 
  }
  
  .nav-links i {
    font-size: 18px;
  }

  .footer {
    background-color: #F9C1BC;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-top: auto;
  }
  
  .footer .social-icons {
    margin-bottom: 10px;
  }
  
  .footer .social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #333;              
    transition: color 0.3s;
  }
  
  .footer .social-icons a:hover {
    color: #FFF9F4;           
  }
  
  .footer p {
    font-size: 14px;
    margin: 0;
  }